## HaProxy
global
    log         127.0.0.1 local2
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    #maxconn     4000
    maxconn     8000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    #maxconn                 3000

listen stats
  bind {{ ansible_eth1.ipv4.address }}:9090
  balance
  mode http
  stats enable
  stats hide-version
  stats refresh 5s
  stats show-node
  stats auth admin:admin
  stats uri  /stats

listen vs_https_gw
    bind {{ vip_ipaddress_gw }}:80
    balance roundrobin
    mode http
    maxconn 50
    server  {{ server_name_gw01 }} {{ ip_address_gw01 }}:80 check
    server  {{ server_name_gw02 }} {{ ip_address_gw02 }}:80 check