## HaProxy
global
    log         127.0.0.1 local2
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     2048
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    5s
    timeout queue           1m
    timeout connect         5s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 5s
    timeout check           5s
    maxconn                 2048
    #tune.ssl.default-dh-param 2048

listen stats
  bind {{ ansible_facts['hostname'] }}:9090
  balance
  mode http
  stats enable
  stats hide-version
  stats refresh 10s
  stats show-node
  stats auth admin:admin
  stats uri  /stats
  stats admin if TRUE

# DSS
# Off Load SSL
listen vs_https_dss
    bind {{ vip_ipaddress_dss }}:80 
    bind {{ vip_ipaddress_dss }}:443 ssl crt {{ path_certs }}/{{ cert_pem }}
    option forwardfor
    option httpchk HEAD / HTTP/1.1\r\nHost:localhost
    balance roundrobin
    mode http
    maxconn 2048
    server  {{ server_name_dss01 }} {{ ip_address_dss01 }}:9763 check
    server  {{ server_name_dss02 }} {{ ip_address_dss02 }}:9763 check
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    redirect scheme https if !{ ssl_fc }

# Key Manager
# SSL Pass Through
listen vs_https_km
    bind {{ vip_ipaddress_km }}:80
    bind {{ vip_ipaddress_km }}:443
    redirect scheme https if !{ ssl_fc }
    balance roundrobin
    mode tcp
    option tcplog
    option ssl-hello-chk
    maxconn 2048
    server  {{ server_name_km01 }} {{ ip_address_km01 }}:9443 check
    server  {{ server_name_km02 }} {{ ip_address_km02 }}:9443 check

# APIGW
# SSL Pass Through
listen vs_https_gw
    bind {{ vip_ipaddress_gw }}:80
    bind {{ vip_ipaddress_gw }}:443
    redirect scheme https if !{ ssl_fc }
    balance roundrobin
    mode tcp
    option tcplog
    option ssl-hello-chk
    maxconn 2048
    server  {{ server_name_gw01 }} {{ ip_address_gw01 }}:8243 check
    server  {{ server_name_gw02 }} {{ ip_address_gw02 }}:8243 check
