vrrp_script chk_haproxy {
  script "pidof haproxy" # check the haproxy process
  interval 2 # every 2 seconds
  weight 2 # add 2 points if OK
}

vrrp_instance VI_1 {
  interface {{ keepalived_if }} # interface to monitor
  state {{ state }}  # MASTER on haproxy, BACKUP on haproxy2
  virtual_router_id 51
  priority {{ priority }} # 101 on haproxy, 100 on haproxy2
  virtual_ipaddress {
    {{ vip_ipaddress_gw }} # virtual ip address
    {{ vip_ipaddress_km }} # virtual ip address
    {{ vip_ipaddress_dss }} # virtual ip address
  }
  track_script {
    chk_haproxy
  }
}
